<!-- Toolbar -->
<mat-toolbar color="primary" class="fixed top-0 right-0 left-0 z-10 min-h-0 h-14">
  <mat-toolbar-row class="px-4 py-2 mat-elevation-z6">
    <a mat-button class="hover:bg-black hover:bg-opacity-40">PSECT</a>

    <!-- Selected Nav Link -->
    <a mat-button class="bg-black bg-opacity-20 hover:bg-opacity-40">
      <mat-icon class="mb-[2px] mr-[3px]">home</mat-icon> Home
    </a>

    <!-- Normal Nav Link -->
    <a mat-button class="hover:bg-black hover:bg-opacity-40">
      <mat-icon class="mb-[.125rem] mr-[.25rem]">code</mat-icon> Sandbox
    </a>

    <div class="flex-grow"></div>

    <button mat-icon-button aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

    <button *ngIf="mode !=='dark'" mat-icon-button (click)="mode = 'dark'" aria-label="Example icon-button with dark mode icon">
      <mat-icon>dark_mode</mat-icon>
    </button>
    <button *ngIf="mode !=='light'" mat-icon-button (click)="mode = 'light'" aria-label="Example icon-button with light mode icon">
      <mat-icon>light_mode</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Side Nav-->
<mat-sidenav-container>
  <!-- Display for mobile -->
  <mat-sidenav #sidenav mode="over" class="w-56">
    <div class="w-56 fixed top-14">
      <mat-nav-list>
        <a *ngFor="let nav of navLinks$ | async" mat-list-item href="{{nav.link}}" target="_blank" rel="noopener">
          {{ nav.name }}
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content class="mt-14">
    <app-page-header>
      <button
        mat-button
        (click)="sidenav.toggle()"
        class="m-2 p-0 lg:hidden"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon
          class="
            flex items-center justify-center
            w-[4rem] h-[4rem] leading-[4rem]
            text-3xl
          "
        >menu</mat-icon>
      </button>

      <h1 class="text-3xl mx-2 my-6">Sandbox</h1>
    </app-page-header>

    <main class="p-8 max-w-4xl m-auto">
      <app-button-gallery></app-button-gallery>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
