<li
    class="relative flex-none flex items-center justify-center cursor-pointer"
    style="width: 38px; height: 38px; color: rgb(255, 255, 255); transform-origin: 50% 50% 0px;"
>
    <div
        class="absolute bg-teal-400 inset-px"
        style="transform-origin: 50% 50% 0px; border-radius: 22.2222%"
    ></div>
    <div
        class="absolute inset-0 border-2"
        style="border-color: rgb(17, 24, 39); background-color: rgb(17, 24, 39); transform-origin: 50% 50% 0px; border-radius: 21.0526%;"
    ></div>
    <button mat-icon-button>
        <span
        class="absolute inset-0 flex items-center justify-center font-semibold"
        style="opacity: 1"
        >XS</span>
    </button>
</li>
<li
    class="relative flex-none flex items-center justify-center cursor-pointer"
    style="width: 38px; height: 38px; color: rgb(55, 65, 81); transform-origin: 50% 50% 0px;"
>
    <div
        class="absolute inset-0 border-2"
        style="border-color: rgb(255, 255, 255); transform-origin: 50% 50% 0px; border-radius: 21.0526%;"
    ></div>
    <button mat-icon-button>
        <span
        class="absolute inset-0 flex items-center justify-center undefined"
        style="opacity: 1"
        >S</span>
    </button>
</li>
<li
    class="relative flex-none flex items-center justify-center cursor-pointer"
    style="width: 38px; height: 38px; color: rgb(55, 65, 81); transform-origin: 50% 50% 0px;"
>
    <div
        class="absolute inset-0 border-2"
        style="border-color: rgb(255, 255, 255); transform-origin: 50% 50% 0px; border-radius: 21.0526%;"
    ></div>
    <button mat-icon-button>
        <span
        class="absolute inset-0 flex items-center justify-center undefined"
        style="opacity: 1"
        >M</span>
    </button>
</li>
<li
    class="relative flex-none flex items-center justify-center cursor-pointer"
    style="width: 38px; height: 38px; color: rgb(55, 65, 81); transform-origin: 50% 50% 0px;"
>
    <div
        class="absolute inset-0 border-2"
        style="border-color: rgb(255, 255, 255); transform-origin: 50% 50% 0px; border-radius: 21.0526%;"
    ></div>
    <button mat-icon-button>
        <span
        class="absolute inset-0 flex items-center justify-center undefined"
        style="opacity: 1"
        >L</span>
    </button>
</li>
<li
    class="relative flex-none flex items-center justify-center cursor-pointer"
    style="width: 38px; height: 38px; color: rgb(55, 65, 81); transform-origin: 50% 50% 0px;"
>
    <div
        class="absolute inset-0 border-2"
        style="border-color: rgb(255, 255, 255); transform-origin: 50% 50% 0px; border-radius: 21.0526%;"
    ></div>
    <button mat-icon-button>
        <span
        class="absolute inset-0 flex items-center justify-center undefined"
        style="opacity: 1"
        >XL</span>
    </button>
</li>
