<div class="max-w-4xl mx-auto grid grid-cols-1">
  <div class="
        relative
        p-3
        bg-none sm:bg-yellow-500
        rounded-lg
        flex flex-col-reverse
        row-start-1 sm:row-start-2
        col-start-1
      "
    >
    <h1 class="text-lg font-semibold text-white sm:text-black">
      Hello, world!
    </h1>
    <p class="text-sm font-medium text-white sm:text-black">Foo bar</p>
  </div>

  <div class="
      row-start-1
      col-start-1 col-end-3
    "
  >
    <div class="rounded-lg bg-green-500 h-52 flex items-center justify-center">
      <img class="h-28" src="assets/heart-gray.svg" />
    </div>
  </div>

  <div class="
      row-start-2 sm:row-start-3
    "
  >
    <p class="rounded-lg bg-purple-500 p-2">
      <span class="text-white text-sm">subtitle - label</span>
    </p>
  </div>

  <div class="
      col-start-1 sm:col-start-2
      row-start-3 sm:row-start-2 sm:row-span-2
      self-center
    "
  >
    <button
      type="button"
      class="
        bg-indigo-600 hover:bg-indigo-500
        text-sm text-white
        leading-6
        font-medium
        py-2 px-3
        rounded-lg
        
      "
    >
      Button
    </button>
  </div>

  <div class="
      col-start-1
      sm:col-span-2
      leading-6
    "
  >
    <p class="text-white font-sm rounded-lg bg-red-500 p-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
    </p>
  </div>
</div>
