<div
  class="bg-white flex w-full"
  style="transform-origin: 50% 50% 0px; border-radius: 1.92308% / 3.93443%"
>
  <div class="relative flex-none sm:self-start lg:self-auto xl:self-start">
    <div
      class="relative z-20 overflow-hidden flex-none"
      style="width: 192px; height: 305px; border-radius: 4.16667% 0% 0% 4.16667% / 2.62295% 0% 0% 2.62295%; transform-origin: 50% 50% 0px;"
    >
      <img
        src="{{ image }}"
        alt="product image"
        class="absolute max-w-none"
        style="width: 229px; height: 305px; left: -18px; top: 0px; opacity: 1; z-index: 2; transform-origin: 50% 50% 0px;"
      />
    </div>
    <div
      class="absolute z-10 bg-teal-400 inset-px"
      style="border-radius: 4.21053% 0% 0% 4.21053% / 2.64026% 0% 0% 2.64026%; transform-origin: 50% 50% 0px;"
    ></div>
  </div>
  <div class="self-start flex-auto flex flex-wrap items-baseline p-6">
    <div class="w-full relative flex flex-wrap items-baseline -mt-6 pt-6 pb-6">
        <div
            class="absolute -top-44 sm:-top-0 lg:-top-44 xl:top-0 bottom-0 -left-6 -right-6 sm:-left-60 sm:-right-6 lg:-left-6 lg:-right-6 xl:-left-60 xl:-right-6 bg-black"
            style="opacity: 0; transform-origin: 50% 50% 0px"
        ></div>
        <div class="relative flex-auto">
            <h2
                class="inline-flex text-gray-900 text-lg font-semibold"
                style="opacity: 1; transform-origin: 50% 50% 0px"
            >
                <span class="hidden sm:inline whitespace-pre">{{ name }}</span>
            </h2>
        </div>
        <div class="relative">
            <div
                class="inline-flex text-lg font-semibold"
                style="opacity: 1; transform-origin: 50% 50% 0px"
            >{{ price | currency }}</div>
        </div>
        <div class="relative whitespace-nowrap flex-none w-full mt-2">
            <div *ngIf="inStock"
                class="inline-flex text-sm font-medium text-gray-700"
                style="opacity: 1; transform-origin: 50% 50% 0px"
            >In stock</div>
        </div>
    </div>
    <div class="w-full flex-none flex items-center">
      <size-selector></size-selector>
    </div>
    <div
      class="w-full h-px bg-gray-200 my-6"
      style="opacity: 1; transform-origin: 50% 50% 0px"
    ></div>
    <div
      class="flex-none w-full grid gap-4 text-center"
      style="grid-template-columns: auto auto 1fr"
    >
      <div class="relative">
        <button
          mat-flat-button
          matRipple
          class="relative text-sm border-2 cursor-pointer flex items-center justify-center whitespace-nowrap px-6"
          style="height: 42px; background-color: rgb(17, 24, 39); border-color: rgb(17, 24, 39); transform-origin: 50% 50% 0px; border-radius: 7.55943% / 19.0476%;"
        >
            <span
                class="flex items-center justify-center text-white font-semibold"
                style="opacity: 1"
            >
                <span style="transform-origin: 50% 50% 0px; width: 80px;">Buy now</span>
            </span>
        </button>
      </div>

      <div class="relative">
        <button
          mat-stroked-button
          class="relative text-sm border cursor-pointer flex items-center justify-center whitespace-nowrap px-6"
          style="height: 42px; background-color: rgb(255, 255, 255); border-color: rgb(229, 231, 235); transform-origin: 50% 50% 0px; border-radius: 6.52229% / 19.0476%;"
        >
            <span
                class="w-full flex-none flex items-center justify-center text-gray-900 font-semibold"
                style="opacity: 1"
            >
                <span style="transform-origin: 50% 50% 0px; width: 80px;">Add to bag</span>
            </span>
        </button>
      </div>
      <div class="flex justify-end">
        <button
          mat-icon-button
          mat-stroked-button
          class="flex items-center border cursor-pointer justify-center"
          style="width: 42px; height: 42px; background-color: rgb(255, 255, 255); border-color: rgb(229, 231, 235); transform-origin: 50% 50% 0px; border-radius: 19.0476%;"
        >
          <img class="m-auto" src="/assets/heart.svg" />
        </button>
      </div>
    </div>
    <div class="relative w-full mt-6 mb-1">      
      <p
        class="inline-flex align-top text-xs leading-6 absolute bottom-0 left-0"
        style="opacity: 0; transform-origin: 50% 50% 0px"
      >
        <span>Free shipping on all<span class="hidden sm:inline"> continental US</span> orders.</span>
      </p>
    </div>
  </div>
</div>
